<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
		</sectionGroup>
	</configSections>
	<spring>
		<context>
			<resource uri="config://spring/objects"></resource>
		</context>
		<objects xmlns="http://www.springframework.net">
			<description>一个简单的控制反转例子</description>

			<object id="dao" type="面向切面编程.CompanyDao,12面向切面编程(基础篇)"></object>
			<object id="simpleCompanyManager" type="面向切面编程.SimpleCompanyManager,12面向切面编程(基础篇)">
				<property name="Dao" ref="dao"></property>
				<property name="UserName" value="admin"></property>
			</object>
			<!-- property标签正是用来属性注入的。而ref是用来标识是关联到哪个object。而name属性是指属性名-->
		</objects>

	</spring>
</configuration>