<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>

	<spring>

		<context>
			<resource uri="config://spring/objects" />
		</context>

		<!--对象名称切入点-->
		<!--<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
			<description>配置实现AOP 对象名称切入点</description>

			-->
		<!--必须让Spring.NET容器管理DefaultAdvisorAutoProxyCreator类-->
		<!--
			<object id="ProxyCreator" type="Spring.Aop.Framework.AutoProxy.ObjectNameAutoProxyCreator, Spring.Aop">
				<property name="ObjectNames">
					<list>
						<value>*Service</value>
					</list>
				</property>
				<property name="InterceptorNames">
					<list>
						<value>aroundAdvisor</value>
					</list>
				</property>
			</object>


			<object id="aroundAdvisor" type="Spring.Aop.Support.NameMatchMethodPointcutAdvisor, Spring.Aop">
				<property name="Advice" ref="aroundAdvice"/>
				<property name="MappedNames">
					<list>
						<value>Find*</value>
					</list>
				</property>
			</object>
			<object id="categoryService" type="AOP的配置.CategoryService, 15AOP的配置(基础篇)"/>
			<object id="productService" type="AOP的配置.ProductService, 15AOP的配置(基础篇)"/>

			<object id="aroundAdvice" type="AOP的配置.AroundAdvice, 15AOP的配置(基础篇)"/>

		</objects>-->

		<!--正则表达式切入点-->
		<!--<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
			<description>配置实现AOP 正则表达式切入点</description>

			<object id="aroundAdvisor" type="Spring.Aop.Support.RegularExpressionMethodPointcutAdvisor, Spring.Aop">
				<property name="advice" ref="aroundAdvice"/>
				<property name="patterns">
					<list>
						<value>.*Find*.*</value>
					</list>
				</property>
			</object>

			-->
		<!--必须让Spring.NET容器管理DefaultAdvisorAutoProxyCreator类-->
		<!--
			<object id="ProxyCreator" type="Spring.Aop.Framework.AutoProxy.DefaultAdvisorAutoProxyCreator, Spring.Aop"/>

			<object id="aroundAdvice" type="AOP的配置.AroundAdvice, 15AOP的配置(基础篇)"/>


			<object id="categoryService" type="AOP的配置.ProductService, 15AOP的配置(基础篇)"/>
			<object id="productService" type="AOP的配置.ProductService, 15AOP的配置(基础篇)"/>

		</objects>-->

		<!--SdkRegularExpressionMethodPointcut配置-->
		<!--<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
			<description>配置实现AOP SdkRegularExpressionMethodPointcut</description>

			<object id="advisor" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
				<property name="pattern" value="AOP的配置.*"/>
				--><!--pattern属性为拦截表达式。Service.*的意思是，拦截Service命名空间下(包括子空间)的所有类。如果改为Service.*.Find*"，意思为拦截Service命名空间下(包括子空间)的所有类以Find开头的方法或Service命名空间下以Find开头的所有类
输出效果：--><!--
			</object>

			<aop:config>
				<aop:advisor pointcut-ref="advisor" advice-ref="aroundAdvice"/>
			</aop:config>

			<object id="aroundAdvice" type="AOP的配置.AroundAdvice, 15AOP的配置(基础篇)"/>

			<object id="categoryService" type="AOP的配置.ProductService, 15AOP的配置(基础篇)"/>
			<object id="productService" type="AOP的配置.ProductService, 15AOP的配置(基础篇)"/>

		</objects>-->
		
		<!--属性切入点：AttributeMatchMethodPointcutAdvisor-->
		<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
			<description>配置实现AOP 属性切入点</description>

			<object id="aroundAdvisor" type="Spring.Aop.Support.AttributeMatchMethodPointcutAdvisor, Spring.Aop">
				<property name="Advice" ref="aroundAdvice"/>
				<property name="Attribute"
						  value="AOP的配置.ConsoleDebugAttribute, 15AOP的配置(基础篇)" />
			</object>

			<object id="proxyFactoryObject" type="Spring.Aop.Framework.ProxyFactoryObject">
				<property name="Target">
					<object type="AOP的配置.AttributeService, 15AOP的配置(基础篇)" />
				</property>
				<property name="InterceptorNames">
					<list>
						<value>aroundAdvisor</value>
					</list>
				</property>
			</object>

			<object id="aroundAdvice" type="AOP的配置.AroundAdvice, 15AOP的配置(基础篇)"/>

		</objects>
	</spring>

</configuration>
