<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"></section>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"></section>
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<resource uri="config://spring/objects"></resource>
		</context>

		<objects>
			<!--生命周期接口-->
			<object id="person" type="自定义对象行为.Person, 11自定义对象行为(基础篇)"
					init-method="Init" destroy-method="Destroy" />


			<!--抽象对象定义和子对象定义-->
			<object id="parent" type="自定义对象行为.Parent, 11自定义对象行为(基础篇)" abstract="true">
				<property name="Name" value="parent"/>
			</object>

			<object id="child" type="自定义对象行为.Child, 11自定义对象行为(基础篇)" parent="parent"/>
			
		</objects>
		
	</spring>
	
	
</configuration>