<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>

	<spring>

		<context>
			<resource uri="config://spring/objects" />
		</context>

		<objects xmlns="http://www.springframework.net">

			<object id="person" type="依赖对象的注入.Person, 07依赖对象的注入(基础篇)">
				<!--属性值类型注入-->
				<property name="Name" value="Liu Dong"/>
				<property name="Age" value="27"/>

				<!--内联对象注入-->
				<property name="Friend">
					<object type="依赖对象的注入.Person, 07依赖对象的注入(基础篇)">
						<property name="Name" value="Beggar"/>
						<property name="Age" value="23"/>
						<property name="Friend" ref="person"/>
					</object>
				</property>
				<!--值类型的注入是需要使用property 节点的value属性-->
			</object>

			<object id="personDao" type="依赖对象的注入.PersonDao, 07依赖对象的注入(基础篇)">
				<!--构造器注入-->
				<constructor-arg name="argPerson" ref="person"/>
				<constructor-arg name="intProp" value="1"/>
				<!--构造器注入使用constructor-arg标签作为标识-->

			</object>

		</objects>

	</spring>
</configuration>